.label-form-container {
  padding-top: 20px;
  padding-bottom: 20px;
} 

.start-on-label, .skip-labels {
  font-weight: bold;
  color: #495057;
  margin-left: 10px;
}

.start-label-row {
  height: 5em;
}

.start-label-input {
  margin-top: 10px;
  max-width: 60px;
}

.form-textarea {
  width: 100%;
}

.form-check-group {
  display: flex;
  align-items: center;
}

.form-check-label {
  margin-left: 8px;
  color: #495057;
}

.form-text-info {
  color: #6c757d;
}

.form-submit-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
 
}


