.label-container {
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #f8f9fa;
  position: relative;
}

.remove-label-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.label-title {
  font-weight: bold;
  color: #495057;
  white-space: nowrap;
  font-size: 1rem;
  margin-top: 8px;
}

.label-count, .aliquots-title {
  font-weight: bold;
  color: #495057;
  white-space: nowrap;
  font-size: 1rem;
}

.label-count-container {
  display: flex;
  min-width: 400px;
}

.label-count {
  margin-top: 5px;
}

.label-count-input {
  max-width: 85px;
  max-height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.add-aliquot-btn {
  font-size: 1.5em;
  color: gray;
  align-items: flex-end;
}

.label-count-and-add-aliquots-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aliquots-container {
  display: flex;
}

.aliquots-column {
  display: flex;
  flex-direction: column;
  flex: 1; 
}

.add-aliquot-btn-column {
  display: flex;
  align-items: flex-end;
  flex: 0 1 auto;
  margin-bottom: 0.21rem;
}